<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LogDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename={path}.base\LogDB.mdf;Integrated Security=True" />
    <add name="WorkerDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename={path}.base\WorkerDB.mdf;Integrated Security=True"  />
    <add name="StorageDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename={path}.base\StorageDB.mdf;Integrated Security=True" />
    <add name="SalaryDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename={path}.base\SalaryDB.mdf;Integrated Security=True" />
    <add name="MaterialDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename={path}.base\MaterialDB.mdf;Integrated Security=True" />
  </connectionStrings>
</configuration>