<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LogDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Kuririn\Desktop\funeral\KarmeevTech\Funeral\Databases\LogDB.mdf;Integrated Security=True" />
    <add name="MaterialDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Kuririn\Desktop\funeral\KarmeevTech\Funeral\Databases\MaterialDB.mdf;Integrated Security=True" />
    <add name="FuneralMongo" connectionString="mongodb://localhost:27017" />
  </connectionStrings>

  <appSettings>
    <add key="Workspace" value="C:\Users\Kuririn\Desktop\funeral\KarmeevTech"/>
    <add key="ProgramWorkspace" value="C:\Users\Kuririn\Desktop\funeral\KarmeevTech\Funeral\.programWorkspace"/>
    
    <add key="ProgramWorkspaceDord" value="C:\Users\Kuririn\Desktop\funeral\KarmeevTech\Funeral\.programWorkspace\.dord"/>
    <add key="ProgramWorkspaceDocs" value="C:\Users\Kuririn\Desktop\funeral\KarmeevTech\Funeral\.programWorkspace\.docs"/>
    <add key="ProgramWorkspaceWork" value="C:\Users\Kuririn\Desktop\funeral\KarmeevTech\Funeral\.programWorkspace\.workspace"/>
    <add key="ProgramDord" value="C:\Users\Kuririn\Desktop\funeral\KarmeevTech\Funeral\.programWorkspace\.workspace\dordplace"/>
    
    <add key="GenerateDocs" value="C:\Users\Kuririn\Desktop\funeral\KarmeevTech\Funeral\DocsGenerated"/>
    <add key="ScanDocs" value="C:\Users\Kuririn\Desktop\funeral\KarmeevTech\Funeral\ScanDocs"/>
    
    <add key="IssueDB" value="C:\Users\Kuririn\Desktop\funeral\KarmeevTech\Funeral\Databases\issue.db"/>
    <add key="SalaryDB" value="C:\Users\Kuririn\Desktop\funeral\KarmeevTech\Databases\salary.db"/>
    <add key="StateDB" value="C:\Users\Kuririn\Desktop\funeral\KarmeevTech\Funeral\Databases\state.db"/>
    <add key="ShopDB" value="C:\Users\Kuririn\Desktop\funeral\KarmeevTech\Funeral\Databases\shop.db"/>
    <add key="StorageDB" value="C:\Users\Kuririn\Desktop\funeral\KarmeevTech\Funeral\Databases\storage.db"/>
    <add key="WorkerDB" value="C:\Users\Kuririn\Desktop\funeral\KarmeevTech\Funeral\Databases\workers.db"/>
  </appSettings>
  
</configuration>