<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FuneralMongo" connectionString="mongodb://localhost:27017" />
	</connectionStrings>

	<appSettings>
		<add key="Workspace" value="E:\WORK\projects\funeral2\KarmeevTech"/>
		<add key="ProgramWorkspace" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\.programWorkspace"/>
		<add key="FuneralFolder" value ="E:\WORK\projects\funeral2\KarmeevTech\Funeral"/>

		<add key="ProgramWorkspaceDord" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\.programWorkspace\.dord"/>
		<add key="ProgramWorkspaceDocs" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\.programWorkspace\.docs"/>
		<add key="ProgramWorkspaceWork" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\.programWorkspace\.workspace"/>
		<add key="ProgramDord" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\.programWorkspace\.workspace\dordplace"/>

		<add key="GenerateDocs" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\DocsGenerated"/>
		<add key="ScanDocs" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\ScanDocs"/>

		<add key="IssueDB" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\Databases\issue.db"/>
		<add key="SalaryDB" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\Databases\salary.db"/>
		<add key="StateDB" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\Databases\state.db"/>
		<add key="ShopDB" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\Databases\shop.db"/>
		<add key="StorageDB" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\Databases\storage.db"/>
		<add key="WorkerDB" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\Databases\workers.db"/>
		<add key="MaterialsDB" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\Databases\materials.db"/>
		<add key="AuthDB" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\Databases\auth.db"/>

		<add key="Settings" value="E:\WORK\projects\funeral2\KarmeevTech\Funeral\Settings"/>
	</appSettings>

</configuration>